* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eaeaea;
    z-index: 800; 
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
}

.logo img {
    width: 200px; 
    height: auto; 
}

.login-button {
    display: inline-block;
    padding: 10px 20px; 
    background: linear-gradient(to right, #2c5870, #669bb7); 
    color: #fff; 
    border: none;
    border-radius: 20px; 
    text-decoration: none; 
    cursor: pointer;
    margin-left: 150px;
}
.login-button:hover {
    transform: translateY(-3px); 
    box-shadow: 0px 6px 3px rgba(30, 62, 81, 0.8) 
}
.menu ul {
    list-style-type: none;
    text-align: right;
}

.menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.3rem;
}

.menu ul li a:hover {
    color: #cf8145;
}

.content {
    border: solid #E4E4E4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    display: flex;
    margin: 0 20px 50px;
}

.reservation-form-container {
    padding: 20px;
    width: 35%;
}

.history {
    padding-bottom: 50px;
    border: 1px solid #1e1d1d;
    width: 930px;
    height: 90%;
    margin: 40px 0;
    overflow: auto;
}

label {
    text-align: right;
    padding-right: 5px;
    font-size: 16px;
    color: #32657C;
}

.check-history{
    margin-left:10px;
}

input,
select,
textarea {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    font-size: 16px;
    color: #32657C;
    margin-bottom: 10px;
}

.payment-options {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.payment-options label {
    margin-right: 10px;
    margin-bottom: 5px;
}

.payment-options label img {
    height: 30px;
    width: auto;
    margin-right: 0.5rem;
}

.payment-options input[type="radio"] {
    margin-right: 3px;
}

.reserve-btn,
.reset-btn {
    padding: 8px 15px;
    background: linear-gradient(to right, #2c5870, #669bb7);
    color: #fff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    margin: 5px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.history-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #1e1d1d;
}

.history-table th,
.history-table td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

.history-table th {
    background-color: #32657C;
    color: #FFF;
}

.validation{
    margin-left: 10px;
}


/*Footer*/
.containerfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #234555;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.footer-section {
    flex: 1;
    margin-right: 5px;
    margin-bottom: 0px;
}

.footer-section h2 {
    color: #EEC343;
    text-align: left;
    margin-bottom: 10px;
}

.footer-section p {
    text-align: justify;
    margin-bottom: 20px;
}

.logo-section {
    margin-bottom: 20px;
    margin-left: -60px;
}

.logo-section img {
    width: 180px;
    margin-bottom: 7px;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a {
    color: white;
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
}

.social-links a:hover {
    color: #aaa;
}

.contact-section {
    flex: 1;
    text-align: right;
    margin-bottom: 20px;
}

.contact-section h2 {
    color: #EEC343;
    text-align: right;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.contact-section p {
    text-align: right;
    margin-bottom: 10px;
    font-size: 1rem;
}

.payment-partners {
    display: flex;
    justify-content: flex-end;
}

.payment-partners img {
    width: 80px;
    height: auto;
    margin-right: 6px;
}

.copyright {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.edit-btn, .cancel-btn {
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 4px;
    background-color: #32657C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cancel-btn {
    background-color: #C0392B;
}