<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <!--Nav Bar-->
    <nav>
        <div class="container">
            <div class="logo">
                <img src="/static/Images/Logo.png" alt="OneByte Foods Logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'menu_redirect' %}">Menu</a></li>
                    <li><a href="{% url 'events_redirect' %}">Events</a></li>
                    <li><a href="{% url 'reservation' %}">Reservations</a></li>
                    <li><a href="{% url 'gallery_redirect' %}">Gallery</a></li>
                    <li><a href="authentication/signin" class="login-button" style="color: #ffffff;">LOGIN</a></li> 
                </ul>
            </div>
        </div>
    </nav>

    <!-- carousel -->
    <div class="carousel">
        <div class="list">
            <div class="item">
                <img src="/static/Images/gallery_images/1.jpg">
            </div>
            <div class="item">
                <img src="/static/Images/gallery_images/2.jpg">
            </div>
            <div class="item">
                <img src="/static/Images/gallery_images/3.jpg">
            </div>
            <div class="item">
                <img src="/static/Images/gallery_images/4.jpg">
            </div>
            <div class="item">
                <img src="/static/Images/gallery_images/5.jpg">
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="/static/Images/gallery_images/1.jpg">
                <div class="content">
                    <div class="title">
                        Food Station
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/Images/gallery_images/2.jpg">
                <div class="content">
                    <div class="title">
                        Dinning Hall
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/Images/gallery_images/3.jpg">
                <div class="content">
                    <div class="title">
                        Bar and Lounge
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/Images/gallery_images/4.jpg">
                <div class="content">
                    <div class="title">
                        Birthday Decoration
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/Images/gallery_images/5.jpg">
                <div class="content">
                    <div class="title">
                        Chef's Special
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
    </div>
    <script src="/static/js/gallery.js"></script>
</body>
</html>