<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Reservation</title>
    <link rel="stylesheet" href="/static/css/events/unicornR.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="photo">
            <img src="/static/Images/event_images/adultbirthdaytheme.jpg" alt="Unicorn Birthday Theme">
        </div>
        <div class="reservation-box">
            <h2>Reservation Details  <a href="javascript:history.back()" class="continue-button" style="margin-left: 300px;"> 
                <i class="fas fa-arrow-left"></i></a> </h2>
                <form method="post" action="{% url 'reservation_theme' %}" id="reservationBirthday" class="reservationForm-form">
                {% csrf_token %}
                <fieldset class="fieldset">
                    <legend>Reservation Information</legend>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="phone">Phone no.:</label>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" maxlength="10"
                        title="Please enter a valid 10-digit phone number" required>

                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required>

                    <label for="time">Time:</label>
                    <br>
                    <br>
                    <p>Time must be of at least 30 minutes.</p>
                    <label for="start_time">From: </label>
                    <input id="start_time" type="time" name="start_time" value="--:--" />

                    <label for="end_time">To: </label>
                    <input id="end_time" type="time" name="end_time" value="--:--" />

                    <label for="people">No. of people:</label>
                    <input type="number" id="people" name="people" min="1" max="10" required>

                    <label for="needs">Comments:</label>
                    <textarea id="needs" name="needs"></textarea>

                    <div class="payment">
                        <label for="payment">Payment Made:</label>
                        <div class="payment-options">
                            <label>
                                <input type="checkbox" id="payment_made" name="payment_made">
                            </label>
                        </div>
                    </div>

                    <a href="unicorn_data"><button type="reserve" class="reserve-btn">Reserve</button></a>
                    <button type="reset" class="reset-btn">Reset</button>
                </fieldset>
                {% csrf_token %}
            </form>
        </div>
    </div>
</body>
</html>
